:root {
  --color-primary: #000000;
  --color-secondary: #fff;
  --color-accent: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: var(--color-primary);
}

.container {
  margin: 40px;
  padding: 80px 40px;
  max-width: 1200px;
  background: var(--color-secondary);
  color: var(--color-primary);
}

.title {
  font-size: 40px;
  font-weight: 700;
}

.desc {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 750px;
  font-size: 18px;
  line-height: 130%;
}

.title,
.desc,
#img-caption,
.img-caption,
.tribute-title {
  text-align: center;
}

.img-div {
  padding: 20px;
  border: 1px solid var(--color-accent);
}

#img-caption, .img-caption {
  padding-top: 20px;
  font-weight: 16px;
  font-style: italic;
}

.img-div,
.tribute-info {
  margin-top: 40px;
}

#image, .image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.tribute-info {
  margin-top: 60px;
}

.tribute-title,
.invention-title {
  font-size: 34px;
  font-weight: 700;
}

.tribute-text {
  margin-top: 40px;
  font-size: 18px;
  line-height: 130%;
}

.invention-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
  width: 100%;
}

.invention-content {
  width: 50%;
}

.invention-text {
  margin-top: 40px;
  font-size: 18px;
  line-height: 130%;
}

.invention-img {
  width: 50%;
}

.img-caption {
  padding-bottom: 20px;
  border: 1px solid var(--color-accent);
}

.figures {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  width: 100%;
}

.figure-item {
  width: 260px;
  text-align: center;
}

.figure-number {
  font-size: 26px;
  font-weight: 700;
  color: var(--color-primary);
}

.figure-desc {
  margin-top: 20px;
  font-size: 18px;
}

.quote {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  padding: 60px;
  width: 100%;
  height: 550px;
  font-style: italic;
  text-align: center;
  color: var(--color-secondary);
  overflow: hidden
}

.quote::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  background: url(../assets/images/quote-background.jpg) center center/cover no-repeat;
  filter: blur(7px);
  z-index: 0;
}

.quote-text,
.quote-author {
  position: relative;
  z-index: 1;
}

.quote-text {
  display: inline-block;
  width: 700px;
  font-size: 40px;
  line-height: 130%;
  font-weight: 500;
}

.quote-author {
  margin-top: 20px;
  font-size: 20px;
}

.tribute-link {
  display: block;
  margin: 60px auto 0;
  padding: 20px 40px;
  width: max-content;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-secondary);
  border: 1px solid transparent;
  background: var(--color-primary);
  transition: all 0.6s ease;
}

.tribute-link:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
  background: transparent;
}